{% extends 'base.html' %}
{% block content %}
<!-- About us -->
<div id="aboutcover">
	<div id="aboutwrapper">
		<div id="aboutcover-text"> About OKFS Awada</div>
		<div class="multiplerule mt-3 d-flex justify-content-center">
			<div class="rule"></div>
			<div class="rule2"></div>
		</div>
	</div>
</div>
<section id="aboutus" class="p-3 ">
	{% for info in headers %}
	<div class="container">
		<h4 class="fw-bold">About <span style="color: #e40808;">OKFS</span></h4>
		<hr class="mt-0 mb-4">
		<p>
			{{info.About|safe}}
		</p>
	</div>
	{% if info.Aims_and_Objectives %}
	<div class="container mt-4">
		<h4 class="fw-bold">Aims & Objectives</h4>
		<hr class="mt-0 mb-4">

		<p>
			{{info.Aims_and_Objectives|safe }}
		</p>
	</div>
	{% endif %}
	<div class="container mt-4">
		<h4 class="fw-bold">Vision</h4>
		<hr class="mt-0 mb-4 ">
		<p>
			{{info.Vision|safe }}
		</p>
	</div>
	<div class=" container mt-2">
		<h4 class=" fw-bold">Mission</h4>
		<hr class="mt-0 mb-4">
		<p>
			{{info.Mission|safe }}
		</p>
	</div>
	{% endfor %}
</section>
{% endblock %}