{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container mt-2">

    {% if messages %}
    {% for message in messages %}
     <div class="alert {{ message.tags }} alert-dismissible alert-success fade show " role="alert">     
       {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
 {% endfor %}
 {% endif %}
    <h4 class="my-3 ps-2" style="font-family: 'League Spartan', sans-serif;">Send Us a Message</h4>
    <div class=" container card p-1 shadow-sm " style="color:#00072B;">
       
    <form action="" method="POST" class="card-body" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="reset" class="btn btn-secondary">Reset</button>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="my-2 p-2">
    	<a href="{% url 'home' %}" class="text-decoration-none"><i class="fa fa-share me-2"></i>back to home page</p>
</div>
</div>
{% endblock %}