{% extends 'base.html' %}
{% block content%}

    {% include 'partials/carousel.html' %}
    {% include 'partials/newsletter.html' %}
    {% include 'partials/about.html' %}
    {% include 'partials/elibrary.html' %}
    {% include 'partials/school_documents.html' %}
    {% include 'partials/payments.html' %}
    {% include 'partials/admission_requirements.html' %}
    {% include 'partials/management.html' %}
    {% include 'partials/gallery.html' %}
    {% include 'partials/faq.html' %}
    {% include 'partials/map.html' %}

<script>
  mapboxgl.accessToken = '{{ mapbox_private_key }}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [6.800465, 6.124938],
    zoom: 12,
  });
</script>
{% endblock %}