{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center p-3 my-1">
        <h2>Photo Gallery</h2>
        <div class="multiplerule my-3 d-flex justify-content-center">
                <div class="Nrule"></div>
                <div class="Nrule2"></div>
        </div>
        <p class="text-muted">View our Photo Gallery to see the Awesome pics of Our Students at different occasions at
                Ocean of Knowledge Secondary School </p>
</div>
<section id="Files" class="container p-3">
        <div class="grid">
                {% for photo in photos %}
                <div class="card rounded shadow-sm">
                        <a href="{{ photo.imageURL }}"><img src="{{ photo.imageURL }}" class="card-img-top" alt="..."> </a> 
                         <div class="card-body">
                           <p class="card-text">{{ photo.Description }}</p>
                         </div>
                       </div>
                {% endfor %}
        </div>
</section>
{% endblock %}