{% extends 'base.html' %}

{% block content %}
<div id="Resultcover">
     <div id="Elibrarywrapper">
          <div id="aboutcover-text">Online Result Portal</div>
          <div style="color: #fff;">OKFS Awada</div>
     </div>
</div>
<section>
     <div class="container my-4 p-3">
          <div class="row px-5 justify-content-center">
               <div class="col-md">
                    <h3 class="mb-3">follow the Procedure below to check your Result</h3>
                    <div class="multiplerule my-4 d-flex ">
                         <div class="Nrule"></div>
                         <div class="Nrule2"></div>
                    </div>
                    <div class="ps-3">
                         <div class="d-flex">
                              <i class="bi bi-check-circle-fill me-2"></i>
                              <p>Select your Class from the Class List </p>
                         </div>
                         <div class="d-flex">
                              <i class="bi bi-check-circle-fill me-2"></i>
                              <p>Click on the Class </p>
                         </div>
                         <div class="d-flex">
                              <i class="bi bi-check-circle-fill me-2"></i>
                              <p>on the next page select the Name of the Student</p>
                         </div>
                         <div class="d-flex">
                              <i class="bi bi-check-circle-fill me-2"></i>
                              <p>and Finally input the pin Correctly</p>
                         </div>
                    </div>
               </div>
               <div class="col-md mt-3 mt-md-0 shadow-sm p-2" style="max-width: 400px;">
                    <ul id="myUL" class="list-group-flush p-0">
                         <div class="d-md-flex">
                              <h5 class="">Okfs Class list</h5>
                              <form class="ms-auto">
                                   <div class="input-group mb-2 news-input">
                                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control"
                                             placeholder="type in the Class here" />
                                        <button class="btn btn-md" type="submit" value="Save"
                                             style="background-color: #00072B; color:white;"><i class="fa fa-search"
                                                  aria-hidden="true"></i></button>
                                   </div>
                              </form>
                         </div>
                         {% for class in classes %}
                         <li id="list" class="list-group-item" style="display:block;">
                              <div class="my-2">
                                   <a href="{% url 'SRMS:students' class.Class class.id %}"
                                        class="text-decoration-none">{{ class.Class }}</a>
                              </div>
                         </li>
                         {% endfor %}
                    </ul>
               </div>

          </div>
     </div>
</section>

{% endblock %}