<!-- Admission Requirements-->
{% load static %}
<section id="Requirements" class="p-2 mt-4 py-4 ">
    <div class="container text-center py-4 " id="reqtext">
      <h5 class=" text-center text-white  mb-2" style="color:#e60000!important;">Admission Requirements</h5>
      <hr style="color: #fff;" />
      <div>
        <ol class=" text-start">
          <li class="p mb-1" style="color: #fff;">The approved text-books as contained in the recommended list of books.
          </li>
          <li class="p mb-1" style="color: #fff;"> Exercise books for junior students includes 5 long notes, 5-80 leaves,
            5-60
            leaves 15-20 leaves. While for senior include 15 long notes and 15-20 leaves</li>
          <li class="p  mb-1" style="color: #fff;"> Revised Standard Version Bible, Ancient& modern and student manual
            Assembly.</li>
          <li class="p  mb-1" style="color: #fff;"> A pair of black container shoe, Navy blue beret for girls, a pair of
            white socks
            and white canvas</li>
          <li class="p  mb-1" style="color: #fff;"> A wooden locker and wooden back chair (please no iron locker or Seat)
          </li>
          <li class="p  mb-1" style="color: #fff;"> 1 packet of white board maker (black), 2 brooms, 1 ream of A4, 1 Big
            Tissue <br>
            <span class="fw-bold " style="color: #fff;">N/B:</span> Please note that all these are subject to review in
            subsequent
            times . Also all the items required must be presented before admission
          </li>
        </ol>
      </div>
      <h6 class=" text-center fw-bold text-white  mb-2">things not PERMITTED</h6>
      <div>
        <ol class=" text-start">
          <li class="p text-white mb-1">Students must not bring personal items such as toys, radio, cameras,</li>
          <li class="p text-white mb-1"> phones, games, and any sharp objects etc.</li>
          <li class="p text-white mb-1"> No indiscriminate use of drugs, if a child is on medication the school must be
            informed.</li>
          <li class="p text-white mb-1"> Improper dressing. dirtiness and lateness</li>
        </ol>
        <a href="{% url 'Admission:initiate_payment2' %}" class="text-decoration-none mt-1">
          Purchase Admission Form<i class="fa fa-angle-double-right ms-1"></i>
        </a>
      </div>
    </div>
  </section>