<!-- Map -->
{% load static %}
<section class="p-3">
    <div class="container mb-4 px-0 px-md-4 pt-4 py-md-4">
      <div class="row justify-content-evenly">
        <div class="col-md">
          <h5 class="text-center fw-bold mb-3">CONTACT INFO</h5>
          <div class="multiplerule my-3 d-flex justify-content-center">
            <div class="Nrule"></div>
            <div class="Nrule2"></div>
          </div>
          <ul class="list-group list-group-flush fs-6">
            {% for info in schools %}
            <li class="list-group-item">
              <span class="fw-bold">Phone number :</span>{{info.SchoolPhonenumber}}
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Email Address :</span> {{info.Emailaddress}}
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Whatsapp number:</span> {{info.Whatsapp}}
            </li>
            <li class="list-group-item">
              <span class="fw-bold">location :</span> {{info.Schoollocation}}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class='col-md d-flex flex-column align-items-center mt-4 mt-md-0'>
          <div id='map' style='width: 100%; height: 500px;' class="shadow-sm"></div>
      </div>
      </div>
    </div>
  </section>