<!-- Payments-->
{% load static %}
<section id="Payments" class="p-2 my-5 mt-1">
  <div class="container">
    <div class="row px-2 align-items-center justify-content-between">
      <div class="col-md text-center">
        <img
          src="{% static 'Payments.jpg' %}"
          class="img-fluid img-thumbnail"
          style="width: 75%"
          alt=""
        />
      </div>
      <div class="col-md py-5">
        <h3>ONLINE PAYMENTS PORTAL</h3>
        <div class="multiplerule my-3 d-flex">
          <div class="Nrule"></div>
          <div class="Nrule2"></div>
        </div>
        <p>
          payments for School fees, Textbooks,School Uniform and other resources
          can now be made using our platform , which is convenient and secured,
          because payments can be made from anywhere across the world without
          joining long Ques at the Bank
        </p>
        <a
          href="{% url 'Payments:initiate_payment' %}"
          class="btn btn-light mt-3"
        >
          <i class="bi bi-chevron-right"></i> make Payments
        </a>
      </div>
    </div>
  </div>
</section>
