{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="text-center p-3 mb-2">
  <h3 class="border-bottom fw-bold">Teachers Data </h3>
</div> -->
<div id="teacherscover">
  <div id="teacherswrapper">
    <div id="aboutcover-text">Teacher's Data </div>
    <div style="color: #fff;">OKFS Awada</div>
    <div class="multiplerule mt-3 d-flex justify-content-center">
      <div class="rule"></div>
      <div class="rule2"></div>
    </div>
  </div>
</div>
<div class="container text-center p-2 p-md-5 p-lg-5">
  <div class="gridcard">
    {% for teacher in Teachers %}
    <article>
      <img src="{{ teacher.Headshot.url }}" class=" rounded-circle" alt="...">
      <div class="text">
        <h5>{{ teacher.Name }}</h5>
        <ul class="text-start ps-3">
          <li><span class="fw-bold">Role:</span> {{ teacher.Role }}</li>
          <li><span class="fw-bold">Subject:</span> {{ teacher.Subject}}</li>
          <li><span class="fw-bold">Class Assigned:</span> {{ teacher.Class_assigned }}</li>
          <li><span class="fw-bold">Phone Number: </span> {{ teacher.Phone_number }}</li>
          <li><span class="fw-bold">Emailaddress: </span>{{ teacher.Email }} </li>
        </ul>
        <div class="icons">
          <a href="" target="_blank"><i class="fab fa-facebook text-secondary mx-1"></i></a>
          <a href="" target="_blank"><i class="fab fa-whatsapp text-secondary  mx-1"></i></a>
          <a href="" target="_blank"><i class="fab fa-twitter text-secondary mx-1"></i></a>
          <a href="" target="_blank"><i class="fab fa-instagram text-secondary mx-1"></i></a>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>


{% endblock %}