{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center p-3 mb-2">
        <h5 class="border-bottom fw-bold">Teachers Data </h5>
   </div>
<section id="Files" class= "text-center p-2">
	<div class="container row justify-content-between g-2 ">
	{% for teacher in Teachers %}
	      <div class="col-md-6 col-lg-4 ">
             <div class="card mb-3 shadow-sm">
              <div class="card-body text-center">
              	<img src="{{ teacher.Headshot.url }}" class=" rounded-circle mb-3 w-50"alt="...">
                <div class="container">
                <h6 class="card-title mb-0">{{ teacher.Name }}</h6>
                 <p class="card-text text-muted my-1">
                 <span class="fw-bold">Role : </span> {{ teacher.Role }}<br/>
                 <span class="fw-bold"> Subject :</span>{{ teacher.Subject }}<br/>
                 <span class="fw-bold">Class Assigned : </span> {{ teacher.Class_assigned }}<br/>
                <span class="fw-bold">Phone Number : </span>  {{ teacher.Phone_number }}<br/>
                 {{ teacher.Email }} 
                </p>
                </div>
                <a href="#"><i class="bi bi-twitter text-dark mx-1 h6"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1 h6"></i></a>
                <a href="#"><i class="bi bi-whatsapp text-dark mx-1 h6"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1 h6"></i></a>
              </div>
            </div>
     </div>
 {% endfor %}
      </div>
 </section>
{% endblock %}