{% extends 'base.html' %}
{% load static %}
{% block content %}

<section >
	<div class="container p-3 " style="width: 320px;">
	<h3 style="font-family: 'League Spartan', sans-serif;">Initiate Payment for School fees and other items</h3>
	<div class="form-group  my-3">
<form method='POST'>
	{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class=" w-100 btn btn-primary" style="font-family: 'League Spartan', sans-serif;">Submit</button>
</form>
</div>
</div>
<section>

{% endblock %}