{% extends 'base.html' %}
{% load static %}
{% block content%}
	<section class="p-2">
	<div class="container">
		   <img src="{% static 'Logo.png' %}" class="d-block w-100" alt="...">
	</div>
	<div class="container text-center">
		<h3 style="font-family: 'League Spartan', sans-serif;">
			Online payment Receipt
		</h3>
	</div>
  </section>
  <hr>
  <!-- Students Data -->
  <section class="p-2">
  	<div class="container">
  		<span class="fw-bold"> Name : </span>{{receipt.Name_of_student}}<br>
  	    <span class="fw-bold"> Class : </span>{{receipt.Class}}<br>
  		<span class="fw-bold"> Email : </span>{{receipt.Email}}<br>
  		<span class="fw-bold"> Payment type : </span>{{receipt.Payment_type}}<br>
  		<span class="fw-bold"> Amount : </span>NGN{{paidamount.amount}}<br>	
          {% if receipt.verified %}
      	<span class="fw-bold"> Payment Status: </span>Successful<br>
      {% endif %}
          <span class="fw-bold"> Payment ref : </span>{{ receipt.ref }}<br>
  		<span class="fw-bold"> Date/Time of Payment : </span>{{ receipt.date_created}}<br>
  	</div>
 </section>
 <hr>
 <section class="p-2 mb-2 text-center">
 	<a class="btn btn-primary" style="font-family: 'League Spartan', sans-serif;"  href="{% url 'Payments:receipt' receipt.ref %}"> download receipt<i class="fa fa-download ms-1"></i></a>
 </section>
{% endblock %}